<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-content>
          <router-view></router-view>

        <v-card>
          <v-card-title>
            <h1 class="text--primary">Awesome article</h1>
          </v-card-title>
          <v-card-text>
            <p>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid dolorem eaque fugit ipsum nam, nulla quis sed! Ab ea eius eveniet excepturi harum maxime molestiae possimus provident quos, ut?</span><span>Consequatur consequuntur cupiditate debitis, dolorem eligendi esse ex fugiat illo incidunt nesciunt quaerat rem unde voluptatem. Assumenda delectus deleniti distinctio, dolore esse iure minus nulla optio placeat ut vitae voluptatem?</span><span>Beatae dolores eum excepturi ipsam labore laboriosam minus mollitia numquam quos tempora! Accusantium asperiores consectetur deleniti dolor facere itaque magnam minus quae similique voluptatem. Autem dolorem dolorum est nulla perferendis.</span><span>Aspernatur iure placeat, reiciendis sequi ullam vel. Animi atque cumque cupiditate dolore ducimus enim ex expedita, fuga, harum illum incidunt nobis officia officiis optio, perspiciatis recusandae repudiandae sunt tenetur vel!</span><span>Accusantium aliquam amet asperiores deleniti deserunt, eius exercitationem fugit natus neque nobis quaerat ratione reiciendis rem repellat sequi soluta tempora veniam. Aliquam asperiores dolore, doloremque eligendi laudantium porro sed. Sunt.</span>
            </p>
          </v-card-text>
        </v-card>
        </v-content>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'FullNews'
  }
</script>

<style scoped>

</style>