<template>
  <v-content>
    <app-news></app-news>
  </v-content>


</template>

<script>
  import News from './News'
  export default {
    name: 'Home',
    components: {
      appNews: News
    }
  }
</script>

<style scoped>

</style>