<template>
  <v-toolbar dark color="teal lighten-1">
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <v-toolbar-title>
      <router-link to="/" tag="span">Vue + Laravel = Blog</router-link>
    </v-toolbar-title>
    <v-btn flat>
      <v-icon left color="error">whatshot</v-icon>
      News</v-btn>
    <v-btn flat>About us</v-btn>
    <v-btn flat>Contacts</v-btn>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat>Login in</v-btn>
      <v-btn flat>Register</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
  import News from './News'

  export default {
    name: 'Navbar',
    data () {
      return {
        tab: null,
        items: [
          'web', 'shopping', 'videos', 'images', 'news'
        ]
      }
    },
    components: {
      appNews: News
    }
  }
</script>

<style scoped>

</style>