<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm6 md6 lg3 v-for="news in 6" :key="news.id">
        <v-card class="mx-3 my-3">
          <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                  aspect-ratio="2.75"
          ></v-img>
          
          <v-card-title primary-title>
            <div>
              <span class="grey--text">13 Nov, 2018, <br> Author: Alexander Ivanov</span>
              <h3 class="headline mb-0">{{ news.title }}</h3>
              <div>{{ news.body }}</div>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" :to="`/news/${news.id}`">Read</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'News',
    computed: {
      news () {
        return this.$store.getters.getAllNews
      }
    }
  }
</script>

<style scoped>

</style>